.mainnav {
	position: fixed;
	z-index:1100;
	width:100%;
	top:0;
	.logo {
		@include transition(.3s width);
		
	}
	&.scroll {
		background:rgba($green, .8);
		.wrap {
			padding:1.5em 0;
		}
		
	}
	.wrap {
		padding:4em 0;
		@include transition(all .5s);
	}
@include transition(all .5s);
	ul{
		float:right;
		margin-top: -30px;
		li {
			float:left;
			a {
				
				color:white;
				font-size: 35px;
			}
		}
	}
}