* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

body {
  background: #ededed
}

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

.overlay {
  position: absolute;
  z-index: 10;
  top:0;
  left:0;
  @include transition(.4s all)
}

section {
  padding:2em;
    
}

.wrap {
  max-width: 940px;
  margin:auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

ul[class*="grid"] {
  li {
    float:left;
    @include rowGrid(2,0);
    position: relative;
  }
}

.hero {
  text-align: center;
  background-size:cover !important;
  background-repeat: no-repeat;
  position: fixed;
  overflow:hidden;
  background: $blue;
  width:100%;
  top:0;
  z-index: 10;
  .wrap {
    padding:12em 0;
    z-index: 1000;
    position: relative;
  }
  .media {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    @include opacity(.5);
    z-index: 10;
  }
  h1 {
    color:white;
    font-size: 65px;
    font-weight: 200;
    span {
      font-weight: 700;
    }
  }
}

.contentControl {
  margin-top:686px;
  background: #ededed;
  z-index: 1000;
  position: relative;
}

.profiles {
  background: white;
  text-align: center;
  padding: 0;
  h2 {
    margin:3em 0;
    display: inline-block;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      overflow:hidden;
      img {
        display: inline-block;
        width:100%;
      }
      img:last-child {
        position: absolute;
        top: 0; 
        left: 0;
        display: none;

      }
      &:hover {
        .overlay {
          @include opacity(1);
          .social {
            li {
              top:0;
              @include opacity(1);
              -webkit-transition-delay: .3s; /* Safari */
              transition-delay: .3s;
              &:last-child {
                -webkit-transition-delay: .4s; /* Safari */
                transition-delay: .4s;
              }

            }
          }
        }
      }
      .overlay {
        @include transition(.4s all);
        @include opacity(0);
        width:100%;
        text-align: center;
        height:100%;
        padding:50% 10%;
        .social {
          position: absolute;
          bottom:50px;
          li {
            width:auto;
            margin-right: 1em;
            position: relative;
            top:20px;
            @include transition(.3s all);
            @include opacity(0)
          }
          a {
            font-size: 24px;
          }
        }
        h4,a {
          color:white;
        }
        h4 {
          text-transform: uppercase;
          font-size: 31px;
          line-height: 1.2;
          font-weight: 400;
        }

      }
    }
  }
}


.grid  {
  padding: 0;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    cursor:pointer;
      overflow:hidden;
      display: inline-block;
      position: relative;
    a {
      cursor:pointer;
      display: inline-block;
      width:100%;
    }
    &:hover {
        .overlay {
          @include opacity(1);
        }
        .content {
          h3, p {
            top:0;
            @include transition(.3s all);
            @include opacity(1)
          }
          p {
            -webkit-transition-delay: .3s; /* Safari */
            transition-delay: .3s;
          }
        }
      }
    .overlay {
        @include transition(.4s all);
        @include opacity(0);
        width:100%;
        text-align: center;
        height:100%;
        cursor:pointer;
      }
    img {
        display: inline-block;
        width:100%;
        &:last-child {
        position: absolute;
        top: 0; 
        left: 0;
        display: none;

      }
    }
    .content {
      text-align:left;
      width:65%;
      margin:auto;
      padding:15% 0;
      h3, p {
        position: relative;
        top: 20px;
        @include transition(.3s all);
        @include opacity(0);
      }
      h3 {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 700;
        color:white;
      }
      p {
        color:white;

      }
    }
  }
}

.mission {
  text-align: center;
  .wrap {
    max-width:700px;
  }
  p {
    font-size: 25px;
  }
  .button {
    font-size: 18px;
  }
}

.capabilities {
  text-align: center;
  span {
    top: 120px;
    position: relative;
    color: white;
    font-size: 49px;
    @include transition(.3s all);
    @include opacity(0)
    }
  .overlay {
    width:100%;
    height:100%;
    @include opacity(0);
  }
  h2 {
    text-align: center;
    max-width:80%;
    margin: auto;
  }
  ul {
    text-align: center;
    margin: 3em 0;
  }

  li {
    width:33%;
    display: inline-block;
    position: relative;
    overflow:hidden;
    &:hover {
      .overlay {
        @include opacity(1)
      }
      span {
        top:100px;
        -webkit-transition-delay: .2s; /* Safari */
        transition-delay: .2s;
        @include opacity(1);

      }
    }
    a {
      color:$primary;
    height:250px;
    display: table;
    text-align: center;
    width:100%;
    }
    .content {
      display: table-cell;
      vertical-align:middle;
      padding:0 2em;
    }
  }
}

.gradient {
  background-image:url('/resources/img/gradient.png');
  background-repeat: no-repeat repeat;
  background-repeat: repeat-x;
  background-color:transparent;
  z-index: 6;
  height:507px;
  position: absolute;
  top:0;
  width:100%;
  background-size: auto 100%;
}

.clients {
  text-align: center;
  padding-top: 0;
  
  h2 {
    margin: 3em 0;
  }
  hr {
    margin: 3em 0;
  }
  .featured {
    margin: 0;
    padding: 0;
    li{
      &:hover {
        .overlay {
          @include opacity(1);
          p {
            top:0;
            -webkit-transition-delay: .3s; /* Safari */
              transition-delay: .3s;
              @include opacity(1);
          }
        }
      }
      a {
        position: relative;
        display: inline-block;
      }
      display: inline;
      margin-right: 2em;
      &:last-child{
        margin: 0;
      }
      .overlay {
        background:rgba(#ededed,.9);
        width:100%;
        padding:30px 0;
        height:100%;
        @include opacity(0);
        p {
          @include transition(.3s all);
          @include opacity(0);
          position: relative;
          top:20px;
          font-size: 24px;
          font-weight: 400;
          line-height: 1;
        }       
      }
    }
  }
}
.media {
  position: absolute;
  top:0;
  left:0;
  margin: 0;padding: 0;
}
.contact {
  overflow:hidden;
  position: relative;
  z-index:5;
  background-size:cover;
  text-align: center;
  padding-top: 0;
  .media {
    top:-20px;
    @include opacity(.7);
  }
  h2 {
    margin: 3em 0;
    display: inline-block;
  }
  .row-fluid {
    position: relative;
    z-index:1000;
  }
}

footer {
  background: #272727;
  padding:3em 0 0;
  text-align: center;
  ul {
    padding: 0;
    margin: 40px 0 0 0;
    li {
      display:inline-block;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
      p {
        color:white;
        margin: 0;
      }
      .small {
        font-size:60%;
      }
    }
  }
  .lower {
    background:#1b1b1b;
    margin-top: 2em;
    padding:3em 0;
    p {
      margin: 0;
    }
  }
}


.interior {
  .hero {
    text-align:left;
    background-image:url('/resources/img/hero2.jpg');
    .wrap {
      padding:7em 0;
    }
  }
}


.portfolio {
  padding:6em 0 0;
}

.sidebar {
  max-width:197px;
    h4 {
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 1em;
    }
    ul {
      li {
        color:$ultralight;
        font-size: 12px;
        font-style: italic;
        line-height: 1.5;
      }
    }
    .imgContain {
      height:200px;
      background: $orange;
      overflow:hidden;
      margin-bottom: 1em;
      img {
        margin-top:-10%;
      }
    }
    .sidebarContact {
      p {
        font-size: 12px;
        float:left;
        display: inline;
      }
      ul {
        float:right;
        margin: 0;
        li {
          float:left;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .button {
        min-width:0;
        width:100%;
        font-size: 16px;
        padding:8px 2em;
      }
    }
  
}

/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.footnote {
  padding: 3em;
background: rgba(0, 0, 0, 0.8);
position: absolute;
z-index: 10000;
bottom: 0px;
height: 100%;
width: 50%;
span.info {
 &:hover {
  background:$orange;
 }
@include transition(.3s all);
position: absolute;
right: -34px;
background: rgba($orange, 0.8);
top: 44px;
font-size: 24px;
padding: 5px;
color: white
}
p, h2 {
  color:#c4c4c4;
}
  span {
    color:white;
    float:right;
    font-size: 18px;
    cursor:pointer;
  }
}