body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1 {
  margin: 0 0 .5em 0;
  font-size: 65px;
  font-weight: 200;
  line-height: 1;

  color: $primary;
}

h2 {
  font-weight: 200;
  font-size: 30px;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
}

a:visited, a:active {
  color:inherit;
}

a {
  color:inherit;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button {
  min-width:260px;
  padding:1em 2em;
  border:solid 1px $primary;
  display: inline-block;
  @include transition(.3s all);
  color:$primary;
  text-align: center;
  &.green {
    &:hover {
      border-color:$green;
      color:$green;
    }
  }
  &.blue {
    &:hover {
      border-color:$blue;
      color:$blue;
    }
  }
  &.orange {
    &:hover {
      border-color:$orange;
      color:$orange;
    }
  }
}