// COLOR PALETTE
$primary: #4b4b4b;
$secondary: #142E4A;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #797979;

// FONT STACKS
$heading: 'Raleway', sans-serif;
$body: 'Raleway', sans-serif;

$orange: #f7981b;
$blue: #2b3181;
$green: #a5cd38;